<html lang="en" ng-app> <!-- ng app is from angular-->
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"> </script>
  </head>

  <script type="text/javascript">
    var myModule = (function() {
      myVar:"myVarosh"
      return {
        taltest: function(overrider) {
          $("#email_field").html(overrider)
        },
        takeFromJson: function() {
          $("#email_field").html(this.myVar)
        }
      }
    }());

  </script>

  <body id="aboutBody">

    <form>
      <title> Feedback: </title>
      First name:<br>
      <input type="text" name="firstname" ng-model="storeName"><br> <!-- ng model is from angular -->
      Last name:<br>
      <input type="text" name="lastname">  <p>  <p>
      Feedback: <br>
      <textarea type="text" name="feedback" cols = "50" rows = "5"> </textarea>  <p>
      <input type="submit" value="Submit"> </input>
    </form>

    <p> Hey {{storeName}}, just wanted to offer you out memberhsip type below  </p>
    <p ng-init="memberships=['basic','premium','super user']">
      <ul ng-repeat="membership in memberships"> {{membership}} </ul>
    </p>
  </body>
</html>
