@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: dimgray;
  font-family: "lucida grande";
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-family: "Gotham SSm A", "Gotham SSm B";
  color: cornsilk;
}
#newDesign {
  vertical-align: bottom;
  border: 2px solid black;
  text-align: center;
  background: cornsilk;
    margin-left:auto;
    margin-right:auto;

}

#tableHead {
  text-decoration-color: saddlebrown;
}

#mainTitle {
  font-family: "Gotham SSm A", "Gotham SSm B";
  color: cornsilk;
  text-shadow: 1px 2px #333577;
  text-align: center;
}

#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border: 4px solid #a1a1a1;
  border-radius: 25px;
  background-color: red;
  height: 350px;
  width: 520px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
}

#main-image {
  left: 50%;
  align-content: center;
}

.answer:hover{
  cursor:pointer;
}

#calculate:hover{
  cursor:pointer;
}

#text-status{
  text-decoration-color: saddlebrown;
}

#theAnswerIs {
  text-shadow: 1px 0 0;
  background: cornsilk;
  text-align: center;
}

#table-format {
  border-radius: 5px;
  align-items: center;
  background-color: cornsilk;
  align-content: center;
  text-align: center;
}